.search {
  margin-top: 12px;
  margin-bottom: 12px;
  position: relative;
  top: 50%;
  text-align: center;
}

.search-input {
  min-width: 200px;
  width: 33.33333%;
  height: 3rem;
  padding: 1rem;
  padding-right: 3rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: width 250ms ease-in-out;
  border-radius: 0.25rem;
}
.search-input:focus,
.search-input:valid {
  width: 100%;
  outline: none;
}

.search-button {
  width: calc(3rem - 2px);
  height: calc(3rem - 5px);
  border: none;
  margin-left: -3rem;
  background-color: #fff;
  @include fa;
  font-size: 1rem;
  transition: opacity 100ms ease-in-out;
}
.search-button:hover {
  opacity: .75;
}

.ib {
  display: inline-block;
  vertical-align: top;
}

.ib-m {
  display: inline-block;
  vertical-align: middle;
}

.ib-cont {
  font-size: 0;
}

.ib-el {
  font-size: 1rem;
}