.App {
  text-align: center;
  min-width: 790px;
}

body {
  height: 100%;
  margin-bottom: 100px;
}

.App > * {
  margin-bottom: 40px;
}

.App > *:last-child {
  margin-bottom: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  line-height: 50px;

  padding: 0;
}

#contacts {
  background-color: #4F4F4F;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.link-area {
  height: 100%;
  padding: auto;
  margin: 0;
}

a {
  color: white;
}

.topbar-link {
  margin: 6px 20px;
  padding: auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.link-area:hover {
  color: #FFA06B;
  border-bottom: #FFA06B;
}

.un {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  transition: 0.6s;
}

.link-area:hover .un{
  background-size: 100% 2px;
}

.topbar-link:active {
  color: #FFA06B;
  border-bottom: #FFA06B;
  background-color: #333333;
  transition: 0s;
}

#links {

}

.language-button {
  background-color: transparent;

  margin: 6px 20px;
  padding: auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.6s;
  list-style-type: none;
  cursor: pointer;
}

.auth-button {
  min-width: 90px;
  height: 36px;
  background-color: #FFA06B;
  margin: 0;
  padding: auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.6s;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #F19460;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.in-one-role {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navigation {
  margin: 0px 40px;
}

h4 {
  margin: 0px;
  padding: 0px;
}

.topbar-title {
  color: #4F4F4F;
  font-size: 20px;
  cursor: default;
}

.Wrapper {
	position: relative;
    height: auto;
    min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 30px;
  color: #B4B4B4;
  background-color: #333333;
  font-size: 12px;
}

.manage-button {
  border: solid 2px #AAAAAA;
  border-radius: 5px;
}

#authorization > *,  #navigation > * {
  margin-left: 10px;
  margin-right: 10px;
}