.App {
  text-align: center;
  min-width: 1000px;
  background: #f9f9f9;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.Wrapper {
  position: relative;
  min-height: 100%;
}

.Content {
  padding: 30px 100px 90px 100px;
  padding-top: 30px;
  padding-bottom: 90px;
  min-height: 100vh;
}

.Content h4, .Content h3{
  width: 100%;
  text-align:left;
}

.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.App > * {
  margin-bottom: 40px;
}

.App > *:last-child {
  margin-bottom: 0;
}

.un {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  transition: 0.6s;
}

.manage-button {
  border: solid 2px #AAAAAA;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 10px;
}

.in-one-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 0px;
  padding: 0px;
}

.Wrapper {
	position: relative;
    height: auto;
    min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 30px;
  color: #B4B4B4;
  background-color: #333333;
  font-size: 12px;
}


